doctype html
html(lang="it")
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block personal
        block link
        block headScript
    body
        header.masthead(role="banner")
        main
            block main
        footer(role="contentInfo")
        block bodyScript

