extends _base.jade
block personal
    meta(name="description", content="")
    title Cambia questo titolo
block link
    // build:css css/index.min.css
    link(href="css/index.css", rel="stylesheet")
    // endbuild
block main
    h1 Questo è un template!
block bodyScript
    // build:js js/index.min.css
    script(src="js/index.js")
    // endbuild
    